

.menu-page_wrapper{

    .menu_page_section{

        .menu_page_container{

            .menu_page_header{

                h2{
                    font-size: $largeSz;
                    line-height: $largeLh;
                    font-weight: 700;
                    text-align: center;
                    color: $bgGrey4;
                    margin: 0;
                }

                span{
                    color: $bgYellow2;
                }
            }

            .menu_page_wrapper{
                margin-top: 32px;

                .items-header{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    column-gap: 12px;
                    row-gap: 24px;

                    .active{
                        background: $bgPurple2;

                        h3{
                            color: $bgWhite !important;
                        }
                    }

                    .type-items{
                        padding: 6px 12px;
                        box-sizing: border-box;
                        border-radius: 15px;
                        border: 2px solid $bgPurple2;

                        &:hover{

                            h3{
                                color: $bgPurple2;
                            }
                        }

                        &:not(.active){
                            cursor: pointer;
                        }
                        
                        h3{
                            font-size: $commonSz;
                            line-height: $tallLh;
                            font-weight: 700;
                            margin: 0;
                            color: $textColorBl;
                        }
                    }
                }
            }
        }
    }
}

.all-menu-container, .menu-starters-container, .menu-salads-container, .menu-specials-container{
    margin-top: 36px;

    .menu_wrapper, .starters_wrapper, .salads-wrapper, .specials-wrapper{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        row-gap: 32px;

        .menu-items{
            flex: 0 0 45%;

            .menu-content{
                position: relative;
                display: flex;
                justify-content: space-between;

                h4{
                    padding: 0 12px;
                    box-sizing: border-box;
                    position: relative;
                    z-index: 3;
                    background: $bgWhite;
                    font-size: $mainSz;
                    font-weight: 700;
                    line-height: $mediumLh;
                    color: $bgYellow2;
                }

                span{
                    padding: 0 8px;
                    box-sizing: border-box;
                    position: relative;
                    background: $bgWhite;
                    z-index: 3;
                    font-size: $smalSz;
                    font-weight: 600;
                    color: $textColorBl;
                }

                &::after{
                    content: '.............................................................';
                    position: absolute;
                    top: -4px;
                    right: 0;
                    z-index: 1;
                }
            }
            .menu-details{
                padding: 0 12px;
                box-sizing: border-box;
                margin-top: 4px;

                p{
                    margin: 0;
                    max-width: 85%;
                    font-style: italic;
                    font-size: $smalSz;
                    font-weight: 500;
                    color: $textColor3;
                }
            }
        }
    }
}