// colors

$bgWhite: #fff;
$homeBg: #eaf1fe;
$bgRed: #ff5454;
$bgRedDark: #df4545;
$textColorBl: #000;
$textColor1: #909090;
$textColor2: #585858;
$textColor3: #898686;
$bgGrey1: #f2eeee;
$bgGrey2: #f3f3f3;
$bgGrey3: #666666;
$bgGrey4: #5f5950;
$borderCol: #919191;
$bgPurple1: #ffddf0;
$bgYellow: #fff0a5;
$bgBlue: #d6f5ff;
$bgBlue1: #c1fff4;
$bgBlue2: #80d1ff;
$bgPurple: #b080ff;
$bgPurple2: #ab97f3;
$bgPink: #ffd1d1;
$bgColor: #f5f6f7;
$bgYellow1: #fff8d5;
$bgYellow2: #ffb03b;

// font sizes

$mainSz: 1rem;
$extraSize: 5rem;
$extraSz: 3rem;
$largeSz: 2rem;
$smalSz: 0.85rem;
$commonSz: 1.15rem;
$mediumSz: 1.5rem;
$miniSz: 0.75rem;
$smSz: 0.65rem;

// line height

$commonLh: 16px;
$largeLh: 48px;
$extraLh: 65px;
$smallLh: 18px;
$mediumLh: 20px;
$tallLh: 28px;
$miniLh: 12px;